params {
    benchling_api_key = ''
    input_bucket = 's3://antibody-pipeline-input'
    output_bucket = 's3://antibody-pipeline-output'
    model_registry = 'antibody-models'
    batch_queue = 'antibody-pipeline-queue'
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        volumes = ['/tmp']
    }
}

process {
    executor = 'awsbatch'
    queue = params.batch_queue
    container = 'public.ecr.aws/docker/library/nextflow:latest'
}